<!-- instruction-widget Modal skeleton-->
<div class="modal fade" id="instruction-widget-modal" tabindex="-1" role="dialog" aria-labelledby="instructions" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h2 class="modal-title" id="instruction-modal-label">Instructions</h2>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="submit btn btn-primary">Dismiss</button>
      </div>
    </div>
  </div>
</div>
