{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="col-md-4"></div>
<div id="content-main" class="col-md-4">
  <h1>Login</h1>
  <form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "log-in" %} Log in
      </button>
      <a href="/accounts/password/reset/" class="btn btn-primary" role="button">
        {% bootstrap_icon "question-sign" %} Reset password
      </a>
    {% endbuttons %}
  </form>
</div>
<div class="col-md-4"></div>

{% endblock %}
