.token {
}
.selected-entity {
    background-color:#BBF;
    
}
.suggested-entity {
    text-decoration:underline;
}
.token-select {
    background-color:grey;
}
/*.type>span{
    display: inherit;
}*/
.entity.list-group-item{
    padding-top:5px;
    padding-bottom:5px;
}
#entity-pane{
    max-height:400px;
    overflow-y:scroll;
}
