.token {
}
.selected-entity {
    background-color:#BBF;
    
}
.suggested-entity {
  font-weight: bold;
  text-decoration:underline;
}
.token-select {
    background-color:grey;
}
/*.type>span{
    display: inherit;
}*/
.entity.list-group-item{
    padding-top:5px;
    padding-bottom:5px;
}
#entity-panel {
    max-height:400px;
    overflow-y:scroll;
}
.wiki-entry.list-group-item{
    padding:5px;
}
.wiki-entry>.list-group-item-heading{
    
}
.wiki-entry>.list-group-item-text{
    font-size:smaller;
    
    
}

.PER {
  background-color: #7fc97f;
}
.ORG {
  background-color: #beaed4;
}
.GPE {
  background-color: #fdc086;
}
.DATE {
  background-color: #ffff99;
}
.TITLE {
  background-color: #386cb0;
}
