#document {
  font-size: larger;
  max-height: 600px;
  overflow-y: scroll;
}

#document.short {
  max-height: 200px;
}

span.sentence {
  display: inline-block;
  margin-right: 1em;
  line-height: 36px;
}

span.token {
  display: inline-block;
}

span.token.with-space {
  display: inline-block;
  margin-left: 0.5em;
}

span.token.underline {
  text-decoration: underline;
}

span.token.highlight {
  text-shadow:1px 0px 0px;
}

span.selected {
  font-weight:bold;
}

span.token.mention {
  font-style: italic;
}

span.mention {
  font-style: italic;
  position: relative;
}

span.type-marker {
  vertical-align: super;
  font-size: small;
}

span.link-marker {
  font-size: small;
  font-variant: small-caps;
  position: absolute;
  top: 10px;
  width: 1000px;
}

span.subject {
  color: red;
}

span.object {
  color: blue;
}

div.relation-option {
  text-align: center;
  display: inline-block;
}

div.relation-option span.icon {
  margin: 0 auto;
}

div#relation-option-preview {
  font-size: large;
}

div#relation-option-preview span.subject {
  color: red;
  font-weight: bold;
}

div#relation-option-preview span.object {
  color: blue;
  font-weight: bold;
}

