#document {
  font-size: larger;
}

span.sentence {
  display: inline-block;
  margin-right: 1em;
}

span.token {
  display: inline-block;
}

span.token.with-space {
  display: inline-block;
  margin-left: 0.5em;
}

span.token.underline {
  text-decoration: underline;
}

span.token.highlight {
  font-weight: bold;
}
