#document {
  font-size: larger;
  max-height: 800px;
  overflow-y: scroll;
}

span.sentence {
  display: inline-block;
  margin-right: 1em;
}

span.token {
  display: inline-block;
}

span.token.with-space {
  display: inline-block;
  margin-left: 0.5em;
}

span.token.underline {
  text-decoration: underline;
}

span.token.highlight {
  text-shadow:1px 0px 0px;
}

span.token.select {
  font-style:italic;
}
