{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="public, must-revalidate, max-age:3600">
    
    <title>
      {% block title %}
      KBP Online
      {% endblock %}
    </title>

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    
    {% block header %}
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">KBP Online<sub>β</sub></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% with request.resolver_match.url_name as url_name %}
            <li {%if url_name == 'home' %} class="active" {% endif %} >
              <a href="/">{% bootstrap_icon "home" %} Home</a></li>

            <li class="dropdown {%if 'explore' in url_name %}active{% endif %}" >
              <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon "globe" %} Explore <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- Hidden, until we have a better link for this.
                <li><a href="/">Submissions</a></li>
                -->
                <li><a href="/explore/corpus/kbp2015">TAC KBP 2015 Corpus</a></li>
                <li><a href="/explore/corpus/kbp2016">TAC KBP 2016 Corpus</a></li>
              </ul>
            </li>
            <li class="dropdown {%if 'interface' in url_name %}active{% endif %}" >
              <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon "eye-open" %} Annotate <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/interface/entity/">Documents</a></li>
                <li><a href="/interface/relation/">Relations</a></li>
                <li><a href="/interface/submission/">Submissions</a></li>
              </ul>
            </li>

            {% if user.is_authenticated %}
              <li {%if url_name == 'submit' %} class="active" {% endif %} >

                <a href="/submissions/">{% bootstrap_icon "upload" %} My Submissions</a></li>
              <li><a href="/accounts/logout/">{% bootstrap_icon "log-out" %} Logout</a></li>
            {% else %}
            <li {%if url_name == 'registration_register' %} class="active" {% endif %} >
            <a href="/accounts/register/">{% bootstrap_icon "user" %} Register</a></li>
            <li {%if url_name == 'auth_login' %} class="active" {% endif %} >
              <a href="/accounts/login/">{% bootstrap_icon "log-in" %} Login</a></li>
            {% endif %}

            {% endwith %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a data-toggle="modal" data-target="#help-modal">{% bootstrap_icon "question-sign" %} Help</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}

    {% block body %}
    <div id="content" class="container">

      <div class="col-md-12 starter-template">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}

    {% block help %}
    <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="helpModalLabel">Help</h4>
          </div>
          <div class="modal-body">
            {% block help_content %}
            Sorry, there isn't any further help on this page right now.
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}


    <script>
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
    });
    </script>
  </body>
</html>
