{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>KBP Online</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container">
      {% block nav %}
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">infobalize.</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <!--
              <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#"></a></li>
            -->
            <li>
              <form class="navbar-form navbar-left" role="search" action="/">
                <div class="form-group">
                  <input type="text" class="form-control" name="query" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      {% endblock %}

      <div class="col-md-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
