{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>
      {% block title %}
      KBPOnline
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    {% block header %}
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">KBPOnline</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% with request.resolver_match.url_name as url_name %}
            <li {%if url_name == 'home' %} class="active" {% endif %} >
              <a href="/">{% bootstrap_icon "home" %} Home</a></li>
            <li {%if url_name == 'explore' %} class="active" {% endif %} >
              <a href="/explore/">{% bootstrap_icon "globe" %} Explore</a></li>
            {% if user.is_authenticated %}
              <li {%if url_name == 'submit' %} class="active" {% endif %} >
                <a href="/submit/">{% bootstrap_icon "upload" %} Submit</a></li>
              <li><a href="/accounts/logout/">{% bootstrap_icon "log-out" %} Logout</a></li>
            {% else %}
            <li {%if url_name == 'registration_register' %} class="active" {% endif %} >
            <a href="/accounts/register/">{% bootstrap_icon "user" %} Register</a></li>
            <li {%if url_name == 'auth_login' %} class="active" {% endif %} >
              <a href="/accounts/login/">{% bootstrap_icon "log-in" %} Login</a></li>
            {% endif %}
            {% endwith %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}


    {% block body %}
    <div id="content" class="container">

      <div class="col-md-12 starter-template">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
