{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block header %}
<link rel="stylesheet" href="{% static 'kbpo/css/kbpo.css' %}">
{% endblock %}

{% block content %}
<div id="content-main" class="col-md-12">
  <div class="row">
  <h2>Explore submitted relations from {{submission.name}}</h2>
  <!-- TODO: User information -->
  <p>
  <b>Description:</b> {{submission.details}}
  <input type="hidden" id="submission-id" value="{{submission.id}}">
  </p>
  <p>
  The table below lists relations from the indicated submission which have been annotated by crowdworkers. The rightmost columns indicate whether or not the subject and object are correctly identified and if the relation is correct.
  </p>

  <table class="table table-hover">
    <colgroup>
    <col style="width:5%" />
    <col style="width:55%" />
    <col style="width:15%" />
    <col style="width:10%" />
    <col style="width:15%" />
    </colgroup>
    <thead>
      <tr>
      <th>#</th>
      <th>Sentence</th>
      <th><span class="subject">Subject</span></th>
      <th>Predicate</th>
      <th><span class="object">Object</span></th>
      </tr>
    </thead>
    <tbody id="predictions">
      <tr id="loading">
        <td colspan="5" class="text-center">
        <img src="{% static 'img/loading.gif' %}" alt="loading..." />
        </td>
      </tr>
    </tbody>
  </table>

  <script src="/static/requirejs/require.js"></script>
  <script>
    require.config({
      baseUrl: "/static/",
      paths: {
          "jquery": "jquery/dist/jquery",
          "jquery.bootstrap": "bootstrap/dist/js/bootstrap",
          "sprintf": "sprintf-js/dist/sprintf.min"
      },
      shim: {
          "jquery.bootstrap": {
              deps: ["jquery"]
          }
      },
    });
    require( ["jquery", "jquery.bootstrap", "sprintf", "kbpo/js/defs"],
        function($, _, pp, defs) {
          function renderWikiLink(txt) {
            return txt.replace(/_/g, " ");
          }
          function parseLink(str, gloss) {
              // Get the canonical link and render it appropriately.
              var linkStr, linkHref;
              if (str.substring(0,5) == "wiki:") {
                linkStr = renderWikiLink(str.substring(5));
                linkHref = "https://en.wikipedia.org/wiki/" + str.substring(5);
              } else if (str.substring(0,5) == "date:") {
                linkStr = str.substring(5);
                linkHref = "#";
              } else if (str.substring(0,6) == "gloss:") {
                linkStr = str.substring(6);
                linkHref = "#";
              } else if (str.substring(0,1) == ":") {
                linkStr = (gloss.substring(0,6) == "gloss:") ? gloss.substring(6) : gloss;
                linkHref = "#";
              } else {
                console.warn("Unexpected link string without appropriate namespace: " + str);
                linkStr = str;
                linkHref = "#";
              }

              return {"gloss": linkStr, "href": linkHref};
          }

          var MARKER = {
            checkmark: "<span class='fa fa-fw fa-check'></span>",
            cross: "<span class='fa fa-fw fa-times'></span>",
            linkBroken: "<span class='fa fa-fw fa-chain-broken'></span>",
            doc: "<span class='fa fa-fw fa-file-text'></span>"
          };

          function renderMention(mention) {
            var ret = "";
            // Correct?
            link = parseLink(mention.entity.linkGold);
            if (mention.entity.linkCorrect) {
              marker = MARKER.checkmark;
            } else {
              console.assert(mention.entity.link !== mention.entity.linkGold);
              marker = MARKER.linkBroken;
            }
            ret += pp.sprintf("<a href='%s' data-toggle='tooltip' title='%s'>%s</a>",
                link.href, link.gloss, marker); // Include link actual person.

            link = parseLink(mention.entity.link, mention.entity.gloss);
            // Type
            ret += pp.sprintf(" <span class='fa fa-fw %s'></span> ", defs.TYPES[mention.type].icon);
            // Link
            ret += pp.sprintf("<a href='%s' data-toggle='tooltip' title='%s'>%s</a>",
                link.href, "for " + mention.gloss, link.gloss); // Include link actual person.

            // If there is a correct link.
            return ret;
          }

          function renderSentence(row) {
            var html = "";
            // Now add <span> tags.
            var tags = [], elems = [];
            if (row.subject.span[0] < row.object.span[0]) {
              tags.push("subject"); tags.push("object");
              elems.push(row.subject); elems.push(row.object);
            } else {
              tags.push("object"); tags.push("subject");
              elems.push(row.object); elems.push(row.subject);
            }

            html += pp.sprintf("<a href='/explore/corpus/%s/%s/' data-toggle='tooltip' title='%s'>%s</a> ",
                row.corpus_tag, row.doc_id, row.title, MARKER.doc)
            html += row.sentence.slice(0, elems[0].span[0]);
            html += pp.sprintf("<span class='%s'>", tags[0]);
            html += row.sentence.slice(elems[0].span[0], elems[0].span[1]);
            html += "</span>";
            html += row.sentence.slice(elems[0].span[1], elems[1].span[0]);
            html += pp.sprintf("<span class='%s'>", tags[1]);
            html += row.sentence.slice(elems[1].span[0], elems[1].span[1]);
            html += "</span>";
            html += row.sentence.slice(elems[1].span[1]);

            return html;
          }

          function renderPredicate(predicate) {
            var ret = "";
            if (predicate.isCorrect) {
              ret += MARKER.checkmark;
            } else {
              ret += pp.sprintf("<a href='#' data-toggle='tooltip' title='%s'>%s</a>",
                  defs.RELATION_MAP[predicate.gold].short, MARKER.cross);
            }
            ret += pp.sprintf(" <span class='fa fa-fw %s'></span> ", defs.RELATION_MAP[predicate.name].icon);
            ret += defs.RELATION_MAP[predicate.name].short;
            return ret;
          }

          function renderDocument(row) {
            var ret = "";
            if (row.isCorrect) {
              ret += MARKER.checkmark;
            } else {
              ret += MARKER.cross;
            }

            ret += (row.id + 1);
            return ret;
          }

          function renderRow(row) {
            var tr = $("<tr>");
            tr.append($("<td>")
                .attr("class", row.isCorrect ? "success" : "danger")
                .html(renderDocument(row)))
              .append($("<td>")
                .html(renderSentence(row)))
              .append($("<td>")
                .attr("class", row.subject.entity.linkCorrect ? "success" : "danger")
                .html(renderMention(row.subject)))
              .append($("<td>")
                .attr("class", row.predicate.isCorrect ? "success" : "danger")
                .html(renderPredicate(row.predicate)))
              .append($("<td>")
                .attr("class", row.object.entity.linkCorrect ? "success" : "danger")
                .html(renderMention(row.object)))
                ;
            return tr;
          }
          console.info("loaded.");

          var submissionId = $("#submission-id").val();
          // Call AJAX api to load entries.
          $.getJSON("/api/submission/" + submissionId + "/", function(rows) {
            for(var i = 0; i < rows.length; i++) {
              $("#predictions").prepend(renderRow(rows[i]));
            }
            $('[data-toggle="tooltip"]').tooltip();
            $("#predictions").find("#loading").addClass("hidden");
          });
        }
    );
  </script>

</div>
</div>

{% endblock %}
