{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block header %}
<link rel="stylesheet" href="{% static 'kbpo/css/kbpo.css' %}">
<style>
  span.link-marker {
    display: none;
  }
</style>
{% endblock %}


{% block content %}
<div id="content-main" class="col-md-12">
  <input id="doc-id" type="hidden" value={{doc_id}} />

  <div class="row">
  <h2>Explore the KBPOnline annotations</h2>
  </div>
  <p>
  In the document below, each mention span is highlighted. The icon to the right of the mention indicate type (PER<sup><i class="fa fa-fw fa-user"></i></sup>, ORG<sup><i class="fa fa-fw fa-building"></i></sup>, GPE<sup><i class="fa fa-fw fa-globe"></i></sup>, DATE<sup><i class="fa fa-fw fa-calendar"></i></sup>, TITLE<sup><i class="fa fa-fw fa-id-card-o"></i></sup>). The list on the right shows the relations that were identified in the document.
  </p>

  <div class="row">
    <div id="interface"></div>
  </div>

  <script src="/static/requirejs/require.js"></script>
  <script>
    require.config({
      baseUrl: "/static/",
      paths: {
          "jquery": "jquery/dist/jquery",
          "bootstrap": "bootstrap/dist/js/bootstrap",
          },
    });
    require( ["jquery", "bootstrap", "sprintf-js/dist/sprintf.min", "kbpo/js/widgets/ExploreDocumentInterface"],
        function($, bootstrap, pp, ExploreDocumentInterface) {
          // TODO: Based on the page, define the appropriate widgets.
          var iface = new ExploreDocumentInterface($("#interface"));
          // Right now, docId is specified on the page.
          var docId = $("#doc-id").val();
          console.log("docId");
          iface.onReady(function () {
            $.getJSON("/api/document/" + docId, function(doc) {
              console.info("loaded document ", doc.id);
              iface.docWidget.loadDocument(doc);

              $.getJSON(pp.sprintf("/api/evaluation-mentions/%s/", docId), function(mentions) {
                console.info("loaded ", mentions.length, " mentions.");
                iface.docWidget.loadMentions(mentions);

                $.getJSON(pp.sprintf("/api/evaluation-relations/%s/", docId), function(relations) {
                  console.info("loaded ", mentions.length, " relations.");
                  iface.listWidget.loadRelations(relations);
                });
              });
            });
          });
        });
  </script>

</div>

{% endblock %}
