{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block header %}
<link rel="stylesheet" href="{% static 'kbpo/css/kbpo.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-5">
  <div class="inner cover">
    {% bootstrap_messages %}
    <h1> KBP Online </h1>

    <p class="lead">KBP Online is an on-demand evaluation service that can evaluate your knowledge base population (KBP) system quickly and accurately.</p>

    {% if user.is_authenticated %}
    <p class="text-center">
    <a href="/submissions/" role="button" class="btn btn-success"> {% bootstrap_icon "upload" %} Upload your submission</a>
    </p>
    {% else %}
    <p class="text-center">
    <a href="/accounts/register/" role="button" class="btn btn-primary">{% bootstrap_icon "user" %} Register</a>
    <a href="/accounts/login/" role="button" class="btn btn-success"> {% bootstrap_icon "log-in" %} Login and submit</a>
    </p>
    {% endif %}

    
    <h4> What is KBP?</h4>
    <p> Knowledge base population is the task of automatically extracting relations between entities from a large corpus of unstructured text and populating a knowledge base.
    Given a document containing a sentence like <em>"Fisher's mother, entertainer Debbie Reynolds, ..."</em>, such a system would identify that <span class="subject"><b>Fisher</b></span> is a child of <span class="object"><b>Debbie Reynolds</b></span>.
    </p>
    <hr>
    <h4> What is on-demand evaluation?</h4>
    <p> 
    One of the challenges in evaluating KBP is that the corpus is too large to exhaustively annotate.
    Unfortunately, partial annotations of these corpora are often <em>incomplete</em>, resulting in a <em>selection bias</em> in the evaluation scores:
    if you are building a system that produces genuinely novel entity or relation extractions, it is very likely that these may not be part of the partial annotations, leading your system to be unfairly evaluated.
    </p>

    <p>
    On-demand evaluation is a new evaluation paradigm which corrects for this selection bias by annotating your system's predictions through crowd-sourcing.
    </p>
    
    <hr>
    <h4>How do I get started?</h4>
    <p>
    All you'll need to do is to <a href="/register/">{% bootstrap_icon "user" %} create an account</a> and <a href="/submissions/">{% bootstrap_icon "upload" %} submit</a> your knowledge base!
    We'll automatically sample from your predicted relations and have them annotated via <a href="https://mturk.amazon.com/">Amazon Mechanical Turk</a> (you can check out the interfaces we use through the <a href="/interface/entity/">{% bootstrap_icon "eye-open" %} annotate</a> menu above).
    </p>

    <p>
    As your predictions are annotated, your submission will be updated on the leader board to the right.
    You can <a href="/explore/corpus/kbp2016/">{% bootstrap_icon "globe" %} explore</a> annotations made on the corpus and analyze your system's errors too. 
    </p>
  </div>
</div>
<div class="col-md-7"> 
    <h1>Leaderboard</h1>
    <h3><small>Click any of the submissions below to explore its annotated predictions.</small></h3>
      <table class="table table-hover">
        <colgroup>
        <col style="width:5%; text-align:center;" />
        <col style="width:50%" />
        <col style="width:15%" />
        <col style="width:15%" />
        <col style="width:15%" />
        </colgroup>
        <thead>
          <tr>
            <th style='text-align:center'>Rank</th>
            <th>System</th>
            <th>Prec. (%)</th>
            <th>Recall (%)</th>
            <th>F1 (%)</th>
          </tr>
        </thead>
        <tbody id="submissions">
          <tr id="submissions-template" class="hidden" >
            <td class="text-center">
              <p> {i} </p>
              <small>
              <span class="label label-default">{timestamp}</span>
              </small>
            </td>
            <td>
              <p> <span class="label label-primary">{affiliation}</span> <a href="/explore/submissions/{id}/">{name}</a> <br/>
              <small>{details}</small>
              </p>
            </td>
            <td>
              <a href='#' data-toggle='tooltip' title='{p_range}%'>{p}%</a>
            </td>
            <td>
              <a href='#' data-toggle='tooltip' title='{r_range}%'>{r}%</a>
            </td>
            <td>
              <a href='#' data-toggle='tooltip' title='{f1_range}%'>{f1}%</a>
            </td>
          </tr>
        </tbody>
      </table>
  <script src="/static/requirejs/require.js"></script>
  <script>
    require.config({
      baseUrl: "/static/",
      paths: {
          "jquery": "jquery/dist/jquery",
          "jquery.bootstrap": "bootstrap/dist/js/bootstrap.min",
          "moment": "moment/moment",
          "sprintf": "sprintf-js/dist/sprintf.min"
    },
    shim: {
        "jquery.bootstrap": {
            deps: ["jquery"]
        }
    },
    });
    require( ["jquery", "moment", "sprintf", "jquery.bootstrap"],
        function($, moment, pp) {
          function renderMonthYear(dt){
            dt1 = moment(dt);
            return dt1.format('MMM YYYY')
          }
          function renderRow(row, i) {
            var tr = $("#submissions-template").clone();
            tr.html(tr.html()
                .replace("{i}", i+1)
                .replace("{timestamp}", renderMonthYear(row.timestamp))
                .replace("{affiliation}", row.user_affiliation)
                .replace("{id}", row.id)
                .replace("{name}", row.name)
                .replace("{details}", row.details)
                .replace("{p}", 
                  pp.sprintf("%0.1f", 100 * row["P"]))
                .replace("{r}", 
                  pp.sprintf("%0.1f", 100 * row["R"]))
                .replace("{f1}", 
                  pp.sprintf("%0.1f", 100 * row["F1"]))
                .replace("{p_range}", 
                  pp.sprintf("%0.1f - %0.1f", 100 * row["P-range"][0],  100 * row["P-range"][1]))
                .replace("{r_range}", 
                  pp.sprintf("%0.1f - %0.1f", 100 * row["R-range"][0],  100 * row["R-range"][1]))
                .replace("{f1_range}", 
                  pp.sprintf("%0.1f - %0.1f", 100 * row["F1-range"][0],  100 * row["F1-range"][1]))
                );
            tr.removeClass("hidden");
            return tr;
          }
          $.getJSON("/api/leaderboard/", function(rows) {
            console.info("Loading " + rows['submissions'].length + " submissions.");
            for(var i = 0; i < rows['submissions'].length; i++) {
              $("#submissions").append(renderRow(rows['submissions'][i], i));
            }
            $('[data-toggle="tooltip"]').tooltip();
          });
        }
    );
  </script>

</div>
{% endblock %}

{% block help_content %}
<h4>How do I get started and onto the leaderboard?</h4>
<p>
It's a simple three step process:
<ol>
  <li>
    <a href="/accounts/register/">{% bootstrap_icon "user" %} Register</a>
    yourself as a user or 
    <a href="/accounts/login/">{% bootstrap_icon "log-in" %} log in</a>.
  </li>
  <li>
    Access the <a href="/submissions/">{% bootstrap_icon "upload" %} submissions</a> link and upload your knowledge base.
  </li>
  <li>
    We will take care of automatically annotating your data using Amazon Mechanical Turk.
    Once we receive all the responses from annotators, we will score
    your submission and place it on the home page.
    This process typically only takes a few hours and we will send you
    an email when the annotations are ready!
  </li>
</ol>
</p>

<h4>Can I take my name off of the leaderboard?</h4>
<p>
  Yes -- simply access your submission through the "submissions" link at
  the top and delete your submission there.
</p>

<h4>How do I report an issue or contact you?</h4>
<p>
If you have any technical problems with the website, please <a href="https://github.com/arunchaganty/kbp-online/issues">create a GitHub issue</a> so that we can track it.

For any other questions or issues contact us at <a href="mailto:kbp-online-owners@lists.stanford.edu">kbp-online-owners@lists.stanford.edu</a>.
</p>

{% endblock %}

