{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="inner cover">
    <h1 class="cover-heading">Evaluate your knowledge base population system. </h1>
    <p class="lead">KBP Online is an on-demand evaluation service that can accurately evaluate your KBP system.</p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-default">Log in</a>
      <a href="/about" class="btn btn-lg btn-default">Learn more</a>
    </p>
  </div>
</div>
<div class="col-md-2"></div>

{% endblock %}

