{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block header %}
<link rel="stylesheet" href="{% static 'kbpo/css/kbpo.css' %}">
<style>
span.type-marker{
    display:none;
}
span.link-marker {
    visibility:hidden;
}
div#relation-option-preview {
    height: auto;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <h1>Identify relationships between entities <small>Use the buttons at the bottom of the screen.</small></h1>
</div>
<div class="row">
  <form class ='input-group' id='mturk_form' action="{{mturk_form_target}}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="assignmentId" value="{{assignment_id}}" />
  <input type="hidden" name="hitId" value="{{hit_id}}" />
  <input type="hidden" name="workerId" value="{{worker_id}}" />
  <input type="hidden" name="workerTime" id="workerTime" value="" />
  <input type="hidden" name="response" id="response" value="" />

  <input type="hidden" name="docId" id="doc-id" value="{{doc_id}}" />
  <input type="hidden" name="mentionPair" id="mention-pair" value="{{mention_pair}}" />

  <div class="col-md-8">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="document short" id="document">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="relation-option-widget">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="interface"></div>
  </div>
  </form>
</div>

<script src="/static/requirejs/require.js"></script>
<script>
  require.config({
    baseUrl: "/static/",
    paths: {
        "jquery": "jquery/dist/jquery",
        "bootstrap": "bootstrap/dist/js/bootstrap",
    },
  });
  require(["jquery",
      "kbpo/js/widgets/DocWidget",
      "kbpo/js/widgets/InstructionWidget",
      "kbpo/js/widgets/RelationInterface",
      ],
      function($, DocWidget, InstructionWidget, RelationInterface) {
        var docWidget = new DocWidget($("#document"));
        var instructionWidget = new InstructionWidget('entity_extraction', '/static/instructions/entity_extraction.html');
        var iface = new RelationInterface(docWidget, $('#interface'), $("#relation-option-widget"), false);
        // Right now, docId is specified on the page.
        var docId = $("#doc-id").val();
        $.getJSON("/api/document/" + docId, function(doc) {
          console.info("loaded document ", doc.id);
          docWidget.loadDocument(doc);

          var mentionPair = $("#mention-pair").val();
          var shouldVerify = false;
          // TODO: Change to evaluation-mention-pairs
          if (mentionPair.length > 0) {
            $.getJSON("/api/suggested-mention-pairs/" + docId + "/" + mentionPair, function(mentionPairs) {
              iface.loadMentionPairs(mentionPairs);
              shouldVerify = true;
              console.info("loaded", mentionPairs.length, "mention pairs");
              iface.run(shouldVerify);
            });
          } else {
            $.getJSON("/api/suggested-mention-pairs/" + docId, function(mentionPairs) {
              iface.loadMentionPairs(mentionPairs);
              console.info("loaded", mentionPairs.length, "mention pairs");
              iface.run(shouldVerify);
            });
          }
        });
      }
  );
</script>

{% endblock %}
