{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block header %}
<link rel="stylesheet" href="{% static 'kbpo/css/kbpo.css' %}">
<style>
span.type-marker{
    display:none;
}
span.link-marker {
    visibility:hidden;
}
div#relation-option-preview {
    height: auto;
}
</style>
{% endblock %}

{% block nav %}
{% if hidenav %}
{% else %}
  {{ block.super }}
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <h1>Identify relationships between entities <small>Use the buttons at the bottom of the screen.</small></h1>
</div>
<div class="row">
  <form class ='input-group' id='mturk_form' action="{{mturk_form_target}}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="assignmentId" value="{{assignment_id}}" />
  <input type="hidden" name="hitId" value="{{hit_id}}" />
  <input type="hidden" name="workerId" value="{{worker_id}}" />
  <input type="hidden" name="workerTime" id="workerTime" value="" />
  <input type="hidden" name="response" id="response" value="" />

  <input type="hidden" name="params" id="input-params" value="{{params}}" />
  <input type="hidden" name="duration" id="input-duration" value="{{duration}}" />
  <input type="hidden" name="reward"   id="input-reward"   value="{{reward}}" />

  <div class="col-md-8">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="document short" id="document">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default" id="relation-option-widget">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="interface"></div>
  </div>
  </form>
</div>

<script src="/static/requirejs/require.js"></script>
<script>
  require.config({
    baseUrl: "/static/",
    paths: {
        "jquery": "jquery/dist/jquery",
        "bootstrap": "bootstrap/dist/js/bootstrap",
        "sprintf": "sprintf-js/dist/sprintf.min",
    },
  });
  require(["jquery",
      "kbpo/js/widgets/DocWidget",
      "kbpo/js/widgets/InstructionWidget",
      "kbpo/js/widgets/RelationInterface",
      ],
      function($, DocWidget, InstructionWidget, RelationInterface) {
        // THIS ONLY WORKS IN LATEST VERSIONS OF TASKS.
        var params = JSON.parse($("#input-params").val());
        var reward = parseFloat($("#input-reward").val());
        if (Number.isNaN(reward)) {
          reward = 0.0;
        }
        var duration = parseInt($("#input-duration").val());
        if (Number.isNaN(duration)) {
          duration = 0;
        }

        var docId = params["doc_id"];
        var verifyLinks = (params["batch_type"] === "selective_relations");

        var docWidget = new DocWidget($("#document"));
        var iface = new RelationInterface(docWidget, $('#interface'), $("#relation-option-widget"), verifyLinks);
        document.iface = iface; // Helps with debugging.

        // Right now, docId is specified on the page.
        $.getJSON("/api/document/" + docId, function(doc) {
          console.info("loaded document ", doc.id);
          docWidget.loadDocument(doc);
          iface.setReward(reward);
          iface.setDuration(duration);

          if (params["batch_type"] === "selective_relations") {
            mentionPairs = [{"subject": params["subject"], "object": params["object"]}];
            iface.loadMentionPairs(mentionPairs);
            console.info("loaded", mentionPairs.length, "mention pairs");
            iface.run();
          } else {
            $.getJSON("/api/evaluation-mention-pairs/" + docId, function(mentionPairs) {
              iface.loadMentionPairs(mentionPairs);
              console.info("loaded", mentionPairs.length, "mention pairs");
              iface.run();
            });
          }
        });
      }
  );
</script>

{% endblock %}
