{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block header %}
<link rel="stylesheet" href="{% static 'kbpo/css/kbpo.css' %}">
<style>
/*
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }
*/
</style>
{% endblock %}

{% block content %}
<div class="row">
  <h1>Identify entities in the article <small>Select words and use the interface on the right.</small></h1>
</div>
<div class="row">
  <form class ='input-group' id='mturk_form' action="" method="POST">
  <input type="hidden" id="doc-id" value="{{doc_id}}" />
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="document" id="document">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div id="interface"></div>
  </div>
  </form>
</div>

<script src="/static/requirejs/require.js"></script>
<script>
  require.config({
    baseUrl: "/static/",
    paths: {
        "jquery": "jquery/dist/jquery",
        "bootstrap": "bootstrap/dist/js/bootstrap",
    },
  });
  require(["jquery",
      "kbpo/js/widgets/DocWidget",
      "kbpo/js/widgets/InstructionWidget",
      "kbpo/js/widgets/EntityInterface",
      ],
      function($, DocWidget, InstructionWidget, EntityInterface) {
        // TODO: Based on the page, define the appropriate widgets.
        var docWidget = new DocWidget($("#document"));
        var instructionWidget = new InstructionWidget('entity_extraction', '/static/instructions/entity_extraction.html');
        var iface = new EntityInterface(docWidget, $('#interface'));
        // Right now, docId is specified on the page.
        var docId = $("#doc-id").val();
        $.getJSON("/api/document/" + docId, function(doc) {
          console.info("loaded document ", doc.id);
          docWidget.loadDocument(doc);
          iface.setDocDate(doc.date);

          $.getJSON("/api/suggested-mentions/" + docId, function(mentions) {
            console.info("loaded ", mentions.length, " mentions.");
            docWidget.setSuggestions(mentions, "suggestion");
          });

        });
      }
  );
</script>

{% endblock %}
