[default]
interface = https://every-letter.com/kbp-online/interface/entity_extraction.html
frame_height = 600
target = actual
title = Find people, companies and places in an article
description = You'll need to highlight words mentioning people, places, organizations, dates and titles and link them to wikipedia pages
max_assignments = 3
duration = 3600
lifetime = 86400
reward = 1.00
answer_field = entities
