[default]
interface = https://every-letter.com/kbp-online/interface/entity_extraction.html
doc_path_script = ../interface/exhaustive-2016/
doc_path_server = exhaustive-2016/
frame_height = 1200
target = sandbox
title = Find people, companies and places in an article
description = You'll need to highlight words mentioning people, places, organizations, dates and titles and link them to wikipedia pages. Pay is variable depdending on length of document
max_assignments = 3
duration = 7200
lifetime = 86400
doc_reward = 1.00
unit_reward = 0.0075
unit_time = 2
units_function = unitAsToken
answer_field = entities
