[default]
interface = https://every-letter.com/kbp-online/interface/relation_extraction.html
frame_height = 600
target = actual
title = Identify relations between people, companies and places
description = You'll need to pick which relationship is described between two people, places or organisations in a sentece. 
max_assignments = 3
duration = 3600
lifetime = 86400
reward = 0.60
answer_field = relations
