[default]
interface = https://every-letter.com/kbp-online/interface/relation_extraction.html
doc_path_script = ../interface/exhaustive/
doc_path_server = exhaustive/
frame_height = 600
target = sandbox
title = Identify relations between people, companies and places
description = You'll need to pick which relationship is described between two people, places or organisations in a sentece. Variable pay according to number of questions asked. 
max_assignments = 9
duration = 3600
lifetime = 86400
doc_reward = 0.60
unit_reward = 0.05
unit_time = 10
units_function = unitAsMentionPair
answer_field = relations
