[default]
interface = https://every-letter.com/kbp-online/interface/relation_verification.html
doc_path_script = ../interface/pooled-eval/
doc_path_server = pooled-eval/
frame_height = 600
target = actual
title = Find relations between people, companies and places
description = You'll need to pick which relationship is described between a single pair of people, places or organisations in a sentece.  
max_assignments = 5
duration = 300
lifetime = 86400
doc_reward = 0.15
answer_field = relations
